*{
    margin:0px;
    padding:0px;
    border-width: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

body {
    background: rgb(37,37,40);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(30,30,30,1) 75%, rgba(55,55,55,1) 100%); 
    background-attachment: scroll;
    
}
header {
    background-color: rgb(200, 236, 236);
    opacity: 0.5;
    position: relative;
    top:100px;
    transition: transform 0.5s,opacity 0.5s;

}
header:hover{
    opacity: 0.85;
    transform:scale(1.1);
}
/*Napis*/
header p {
    text-align: center;
    font-size: 200px;
    font-family: Helvetica;
    text-transform: uppercase;
    height: 20%;

}

#top-img {
    background-image: URL("src/earth.png");
    background-attachment: fixed;
    height: 400px;
    overflow: hidden;
}


main{
    background-color: brown;
    height: 1000px;
    width: 80%;
    margin:0px auto;

}
#menu{
    width:25%;
    float: left;
    background-color: chartreuse;
    height: 1000px;
    text-align: center;
}
#content{
    position: relative;
    float:left;
    background-color: cyan;
    height: 100%;
    width: 75%;
}
#input{
    width: 100%;
    height: 200px;
    background-color:crimson;
}
#posts{
    width: 100%;
    height: 800px;
    background-color:rgb(20, 33, 220);
}



a:link{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:black;
}
a:visited {
    text-decoration: none;
    color:black;
}